<h2>Ironhack Cinema</h2>
<p>Click on the movies to check the showtimes!</p>


<div id="movies-selection">
  {{#each movies}}
    <div>
      <img src="{{image}}">
      <h3>{{title}}</h3>
      <a href="/movies/{{id}}">See more</a>
    </div>
  {{/each}}
</div>